@import 'src/index';

@include arwes-all();

.arwes-frame {
  margin-bottom: $arwes-margin;
}
* .arwes-frame:last-child {
  margin-bottom: 0;
}

.row {
  max-width: 800px;
}

.header {
  .row {
    padding: #{$arwes-padding * 2} 0;
  }
}
.header,
.footer {
  .row {
    margin-bottom: 0;
    padding: $arwes-padding 0;
  }
}
h1.title {
  margin: 0;
  line-height: 1;
}
.content-title {
  @extend h3;
  margin: 0 0 #{$arwes-margin / 2};
}
