{
  "root": true,
  "ignorePatterns": [
    "node_modules",
    "packages/*/lib",
    "packages/arwes", // TODO: Remove when @arwes/arwes package has the new API.
    "playground/public"
  ],
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "semi": ["error", "always"],
    "brace-style": ["error", "stroustrup"]
  }
}
