{
  "root": true,
  "ignorePatterns": [
    "node_modules",
    "build",
    "coverage",
    "packages/*/lib",
    "packages/*/dist",
    "playground",
    "website",
    "__deprecated__"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "standard-with-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-dynamic-delete": "off",
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/brace-style": ["error", "stroustrup"],
    "@typescript-eslint/restrict-template-expressions": ["error", {
      "allowAny": true
    }],
    "@typescript-eslint/no-unused-vars": ["error", {
      "varsIgnorePattern": "^jsx$",
      "ignoreRestSiblings": true
    }],
    "@typescript-eslint/promise-function-async": ["error", {
      "checkArrowFunctions": false
    }],
    "react/prop-types": "off",
    "semi": ["error", "always"],
    "brace-style": ["error", "stroustrup"],
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "prefer-regex-literals": "off",
    "prefer-promise-reject-errors": "off"
  }
}
