# gitignore

##
## BASE
##

node_modules
jspm_packages
bower_components
logs
pids
lib-cov
coverage
nbproject

*.log
*.pid
*.seed

*~
*#
.grunt
.lock-wscript
.tmp
.sass-cache
.DS_STORE
.netbeans
.idea
.npm
.node_history
.node_repl_history
.vagrant
.eslintcache

Thumbs.db
dump.rdb
npm-debug.log
