# gitignore

##
## BASE
##

node_modules
jspm_packages
bower_components
logs
pids
lib-cov
coverage
nbproject
.next

*.log
*.pid
*.seed

*~
*#
.grunt
.lock-wscript
.tmp
.sass-cache
.DS_STORE
.netbeans
.idea
.npm
.node_history
.node_repl_history
.vagrant
.eslintcache
.travis.yml
.gitattributes

Thumbs.db
dump.rdb
npm-debug.log
package-lock.json
yarn.lock

##
## PROJECT
##

play
pages
site
static
build
karma.conf.js
webpack.config.js
next.config.js
deploy.json

CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md

.editorconfig
.eslintignore
.eslintrc
.babelrc
