node_modules
logs
pids
lib-cov
coverage
build/Release
test
demo
doc
vendor

*.log
*.pid
*.seed

.gitignore
.npmignore
.editorconfig
.jshintrc
.grunt
.lock-wscript
gulpfile.js
karma.conf.js
.travis.yml
