@mixin pr-blink {

  /* <span class="pr-blink">&#9611;</span> */
  .pr-blink {
    animation: pr-anim-blink #{$pr-animation-time*2}ms step-end infinite;
  }

  @keyframes pr-anim-blink {
    from, to {
      color: rgba(0,0,0,0);
    }
    50% {
      color: inherit;
    }
  }
  
}
