@mixin pr-box {

  .pr-box {
    position: relative;
    border: 1px solid darken($pr-color5, 10%);
    border-radius: $pr-radius;
    background-color: $pr-background3;
    transition: border-color #{$pr-animation-time}ms ease-out;

    &.pr-box_small {
      .pr-box__corner {
        width: 8px;
        height: 8px;
      }
    }
    &:hover {
      border-color: lighten($pr-color5, 10%);

      .pr-box__corner {
        border-color: lighten($pr-color5, 20%);
      }
    }
  }

  .pr-box__frame {
    position: relative;
    z-index: 5;
  }

  .pr-box__corner {
    position: absolute;
    z-index: 3;
    border-color: $pr-color5;
    border-style: solid;
    width: 20px;
    height: 20px;
    transition: border-color #{$pr-animation-time}ms ease-out;
  }
  .pr-box__corner1 {
    left: -1px;
    top: -1px;
    border-width: 1px 0 0 1px;
    box-shadow: -2px -2px 2px rgba($pr-color5, 0.3);
  }
  .pr-box__corner2 {
    right: -1px;
    top: -1px;
    border-width: 1px 1px 0 0;
    box-shadow: 2px -2px 2px rgba($pr-color5, 0.3);
  }
  .pr-box__corner3 {
    right: -1px;
    bottom: -1px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 2px rgba($pr-color5, 0.3);
  }
  .pr-box__corner4 {
    left: -1px;
    bottom: -1px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 2px rgba($pr-color5, 0.3);
  }

}
