/* prhone h1 */
.pr-h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  color: #01FFFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}
.pr-h1:before {
  content: "~$ ";
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .pr-h1 {
    padding-left: 40px;
  }
}

/* prhone h2 */
.pr-h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #CDCDCD;
}
