@mixin pr-img {

  .pr-img {
    position: relative;
    margin-bottom: $pr-font-size;

    .pr-img__frame {
      background: $pr-background2;
    }

    .pr-img__cover {
      z-index: 5;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      background-color: rgba($pr-color5, 0.5);
      animation: pr-anim-img-cover #{$pr-animation-time*3}ms ease-out alternate;

      &:hover + img {
        border-color: lighten($pr-color5, 20%);
      }
    }

    img {
      z-index: 1;
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }
  }

  @keyframes pr-anim-img-cover {
  	0% {
      opacity: 1;
    }
  	100% {
      opacity: 0;
    }
  }

}
