@mixin gui-form {

  form {
    margin: 0 0 $pr-font-size 0;
  }

  fieldset {
    border-color: $pr-color6;
    border-radius: $pr-radius;
    padding: $pr-font-size;
  }
  legend {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: $pr-color2;
  }

  label {
    display: block;
  }

  input,
  textarea,
  select {
    margin: 0;
    border: 1px solid $pr-color6;
    padding: 5px;
    background-color: $pr-background2;
    color: $pr-color4;
    transition: color #{$pr-animation-time}ms ease 0s,
                background-color #{$pr-animation-time}ms ease 0s,
                outline #{$pr-animation-time}ms ease 0s,
                border-color #{$pr-animation-time}ms ease 0s;
  }

  ::-webkit-input-placeholder {
    color: $pr-color1;
  }
  :-moz-placeholder {
    color: $pr-color1;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: $pr-color1;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $pr-color1;
  }

  @each $input in input, textarea, select {
    @each $state in disabled, readonly {
      #{$input}[#{$state}] {
        color: $pr-color-disabled;
      }
      #{$input}[#{$state}]::-webkit-input-placeholder {
        color: $pr-color-disabled;
      }
      #{$input}[#{$state}]:-moz-placeholder {
        color: $pr-color-disabled;
      }
      #{$input}[#{$state}]::-moz-placeholder {
        color: $pr-color-disabled;
      }
      #{$input}[#{$state}]:-ms-input-placeholder {
        color: $pr-color-disabled;
      }
    }
  }

  select {
    background-color: $pr-background2;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: 1px solid $pr-color4;
    color: $pr-color4-active;
    background-color: $pr-background2-active;
  }

  input[type="search"],
  input[type="email"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }

  button {
    border: 1px solid $pr-color3;
    border-radius: $pr-radius;
    background-color: $pr-background2;
    color: $pr-color3;
  }

}
