@mixin gui-general {

  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    font-family: $pr-font1;
    color: $pr-color1;
    background-color: $pr-background1;
    font-size: $pr-font-size;
    line-height: $pr-line-height;
  }

  /* text selection */
  ::-moz-selection {
    background-color: $pr-color1;
    color: $pr-background1;
  }
  ::selection {
    background-color: $pr-color1;
    color: $pr-background1;
  }

  /* scrollbars */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $pr-background2;
  }
  ::-webkit-scrollbar-track {}
  ::-webkit-scrollbar-thumb {
    border-radius: $pr-radius;
    border: 1px solid $pr-color4;
    cursor: pointer;
    transition: border-color #{$pr-animation-time}ms ease-out;

    &:hover {
      border-color: lighten($pr-color4, 20%);
    }
  }

}
