@mixin gui-headers {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $pr-font-size 0 $pr-font-size;
    font-family: $pr-font2;
    font-weight: bold;
    color: $pr-color2;
    transition: all #{$pr-animation-time}ms ease 0s;
  }

  @each $header, $size in $pr-headers-sizes {
    #{$header} {
      font-size: $size;
      a {
        color: $pr-color2;
      }
      a:focus,
      a:hover,
      a:active {
        color: $pr-color3-active;
      }
    }
    a #{$header} {
      color: $pr-color2;
    }
    a:focus #{$header},
    a:hover #{$header},
    a:active #{$header} {
      color: $pr-color3-active;
    }
  }

}
