@mixin pr-lists {

  dl, ul, ol {
    margin: 0 0 $pr-font-size $pr-font-size;
    padding: 0;

    & dl,
    & ul,
    & ol {
      margin-bottom: 0;
    }
  }

  dl {
    dt {
      font-style: italic;
      font-weight: bold;
    }
    dd {
      margin-left: $pr-font-size;
    }
  }

  ul {
    li {
      list-style: none;
    }
    li:before {
      margin-left: -#{$pr-font-size}px;
      margin-right: 10px;
      content: ">>";
    }
  }

  ol {
    margin-left: $pr-font-size;
    padding-left: $pr-font-size;

    ol {
      margin-left: 0;
    }
  }
  
}
