@mixin pr-text {

  p {
    margin: 0 0 $pr-font-size 0;
  }

  small {
    font-size: 85%;
  }

  cite {
    font-style: italic;
  }

  abbr {
    text-decoration: underline;
  }

  blockquote {
    border-left: 2px dotted $pr-color6;
    padding-left: $pr-font-size;
    color: $pr-color-info;
  }

  hr {
    height: 0;
    border: none;
    border-bottom: 1px dashed $pr-color5;
  }

  code {
    font-size: 90%;
    font-family: $pr-font3;
    background-color: $pr-background4;
  }

  pre {
    overflow: auto;
    overflow-y: hidden;
    border: 1px solid $pr-color6;
    padding: 10px;

    font-size: 90%;
    font-family: $pr-font3;
    border-radius: $pr-radius;
    text-wrap: normal;
    background-color: $pr-background4;
  }
  
}
