@mixin arwes-frame () {
  .arwes-frame {
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 1.125rem;

    .arwes-frame__box {
      position: relative;
      border-width: 1px;
      border-style: solid;
      border-color: $arwes-color1-dark;
      box-shadow: 0 0 4px rgba($arwes-color1-dark, $arwes-color-alpha);
      transition: all $arwes-anim-time ease-out;
    }
    .arwes-frame__corner {
      z-index: 1;
      position: absolute;
      border-style: solid;
      border-color: $arwes-color1;
      box-shadow: 0 0 4px rgba($arwes-color1, $arwes-color-alpha);
      transition: all $arwes-anim-time ease-out;

      &.arwes-frame__corner--l1 {
        width: 15px;
        height: 15px;

        &.arwes-frame__lt {
          left: -2px;
          top: -2px;
          border-width: 1px 0 0 1px;
        }
        &.arwes-frame__lb {
          left: -2px;
          bottom: -2px;
          border-width: 0 0 1px 1px;
        }
        &.arwes-frame__rt {
          right: -2px;
          top: -2px;
          border-width: 1px 1px 0 0;
        }
        &.arwes-frame__rb {
          right: -2px;
          bottom: -2px;
          border-width: 0 1px 1px 0;
        }
      }
      &.arwes-frame__corner--l2 {
        width: 30px;
        height: 30px;

        &.arwes-frame__lt {
          left: -3px;
          top: -3px;
          border-width: 2px 0 0 2px;
        }
        &.arwes-frame__lb {
          left: -3px;
          bottom: -3px;
          border-width: 0 0 2px 2px;
        }
        &.arwes-frame__rt {
          right: -3px;
          top: -3px;
          border-width: 2px 2px 0 0;
        }
        &.arwes-frame__rb {
          right: -3px;
          bottom: -3px;
          border-width: 0 2px 2px 0;
        }
      }
    }
    .arwes-frame__content {
      z-index: 2;
      position: relative;
      background-color: rgba($arwes-color-background2, 0.9);
      overflow: hidden;
      transition: all $arwes-anim-time ease-out;
    }

    &.arwes-frame--corners1 {
      padding: 1px;
    }
    &.arwes-frame--corners2 {
      padding: 3px;
    }
    &.arwes-frame--content {
      .arwes-frame__content {
        padding: $arwes-padding;
      }
    }
    &.arwes-frame--border-down {
      .arwes-frame__box {
        border-color: $arwes-color1;
        border-width: 0 0 4px 0;
      }
    }
    &.arwes-frame--border-up {
      .arwes-frame__box {
        border-color: $arwes-color1;
        border-width: 1px 0 0 0;
      }
    }

    &[data-theme='success'] {
      color: $arwes-color-success;

      .arwes-frame__box {
        border-color: $arwes-color-success-dark;
        box-shadow: 0 0 4px rgba($arwes-color-success, $arwes-color-alpha);
      }
      .arwes-frame__corner {
        border-color: $arwes-color-success;
        box-shadow: 0 0 4px rgba($arwes-color-success, $arwes-color-alpha);
      }
      h1, h2, h3, h4, h5, h6 {
        color: $arwes-color-success-light;
        text-shadow: 0 0 4px rgba($arwes-color-success-light, $arwes-color-alpha);
      }
    }

    &[data-theme='alert'] {
      color: $arwes-color-alert;

      .arwes-frame__box {
        border-color: $arwes-color-alert-dark;
        box-shadow: 0 0 4px rgba($arwes-color-alert, $arwes-color-alpha);
      }
      .arwes-frame__corner {
        border-color: $arwes-color-alert;
        box-shadow: 0 0 4px rgba($arwes-color-alert, $arwes-color-alpha);
      }
      h1, h2, h3, h4, h5, h6 {
        color: $arwes-color-alert-light;
        text-shadow: 0 0 4px rgba($arwes-color-alert-light, $arwes-color-alpha);
      }
    }

    &[data-theme='disabled'] {
      color: $arwes-color-disabled;

      .arwes-frame__box {
        border-color: $arwes-color-disabled-dark;
        box-shadow: 0 0 4px rgba($arwes-color-disabled, $arwes-color-alpha);
      }
      .arwes-frame__corner {
        border-color: $arwes-color-disabled;
        box-shadow: 0 0 4px rgba($arwes-color-disabled, $arwes-color-alpha);
      }
      h1, h2, h3, h4, h5, h6 {
        color: $arwes-color-disabled-light;
        text-shadow: 0 0 4px rgba($arwes-color-disabled-light, $arwes-color-alpha);
      }
    }
  }
}
