@mixin arwes-card-project () {
  .arwes-card-project {
    h3 {
      margin: 0;
      line-height: 1.2;
    }
    .arwes-card-project__head {
      position: relative;
      padding: $arwes-padding #{$arwes-padding * 2.5} $arwes-padding $arwes-padding;
      background-color: rgba($arwes-color-background1, 0.9);
      border-bottom: 1px solid $arwes-color0-dark;

      i {
        @extend h3;
        position: absolute;
        right: $arwes-padding;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .arwes-card-project__body {
      padding: $arwes-padding;
      background-color: rgba($arwes-color-background0, 0.9);
    }
    .arwes-card-project__body {
      //
    }
    .arwes-card-project__foot {
      position: relative;
      padding: 0 $arwes-padding $arwes-padding;
      background-color: rgba($arwes-color-background0, 0.9);
      user-select: none;
    }
    .arwes-card-project__stat {
      display: inline-block;
      margin-right: $arwes-padding / 2;
    }
    .arwes-card-project__lang {
      text-transform: uppercase;
    }

    @media #{$medium-and-up} {
      .arwes-card-project__stat {
        margin-right: $arwes-padding;
      }
    }
  }
}
