@import 'src/index';

@include arwes-all();

.arwes-frame {
  margin-bottom: $arwes-global-margin;

  h3 {
    margin: 0;
  }
}
* .arwes-frame:last-child {
  margin-bottom: 0;
}

.container {
  display: block;
  margin: 0 auto 20px;
  max-width: 800px;
}
.header,
.footer {
  .container {
    margin-bottom: 0;
  }
}
