@mixin gui-selector {

  .pr-selector {
    position: relative;
    z-index: 100;
    display: inline-block;
    margin-bottom: $pr-font-size;

    color: $pr-color4;
    line-height: 1;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;

    ul {
      position: absolute;
      left: -1px;
      right: -1px;
      top: calc(#{$pr-font-size} + 16px - 1px);

      display: none;
      margin: 0;
      padding: 0;
      border: 1px solid $pr-color4;

      text-align: left;
      list-style: none;
      background: $pr-background2;
    }
    li {
      overflow: hidden;
      display: block;
      padding: 8px 10px;

      &:before {
        display: none;
      }
      &:hover {
        color: $pr-color3-active;
        background: $pr-background2-active;
      }
    }
    li + li {
      border-top: 1px solid $pr-color4;
    }
    .mdi {
      display: inline-block;
      margin-top: -8px;
      height: $pr-font-size;
      font-size: 125%;
      vertical-align: middle;
    }
    &.pr-selector_shown {
      ul {
        display: block;
        animation: pr-anim-selector-shown #{$pr-animation-time}ms ease-out;
      }
    }
  }

  .pr-selector__frame {
    display: block;
    padding: 8px 10px;
    min-width: calc(#{$pr-font-size} + 16px);
    min-height: calc(#{$pr-font-size} + 16px);
    background: $pr-background2;
  }

  @keyframes pr-anim-selector-shown {
    from {
      transform: translate(0, -20px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

}
