{
  "root": true,
  "ignorePatterns": [
    "node_modules",
    "build",
    "public",
    ".cache"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "semi": ["error", "always"],
    "brace-style": ["error", "stroustrup"]
  }
}
