/**
 * Resources
 */

$arwes-resource-background1: '/img/background.jpg' !default;
$arwes-resource-background1-medium: '/img/background-medium.jpg' !default;
$arwes-resource-background1-large: '/img/background-large.jpg' !default;
$arwes-resource-pattern1: '/img/glow.png' !default;


/**
 * General
 */

$arwes-margin: 20px !default;
$arwes-padding: 20px !default;
$arwes-color-accent: 15% !default;
$arwes-color-alpha: 0.75 !default;
$arwes-anim-time: 100ms !default;


/**
 * Colors
 */

// primary
$arwes-color1: #26dafd !default;
$arwes-color1-light: lighten($arwes-color1, $arwes-color-accent) !default;
$arwes-color1-dark: darken($arwes-color1, $arwes-color-accent) !default;

// secondary
$arwes-color2: #acf9fb !default;
$arwes-color2-light: lighten($arwes-color2, $arwes-color-accent) !default;
$arwes-color2-dark: darken($arwes-color2, $arwes-color-accent) !default;

// tertiary
$arwes-color3: #fff !default;
$arwes-color3-light: lighten($arwes-color3, $arwes-color-accent) !default;
$arwes-color3-dark: darken($arwes-color3, $arwes-color-accent) !default;

// alert
$arwes-color-alert: #ff1a1d !default;
$arwes-color-alert-light: lighten($arwes-color-alert, $arwes-color-accent) !default;
$arwes-color-alert-dark: darken($arwes-color-alert, $arwes-color-accent) !default;

// success
$arwes-color-success: #0f0 !default;
$arwes-color-success-light: lighten($arwes-color-success, $arwes-color-accent) !default;
$arwes-color-success-dark: darken($arwes-color-success, $arwes-color-accent) !default;

// disabled
$arwes-color-disabled: #999 !default;
$arwes-color-disabled-light: lighten($arwes-color-disabled, $arwes-color-accent) !default;
$arwes-color-disabled-dark: darken($arwes-color-disabled, $arwes-color-accent) !default;

// backgrounds
$arwes-color-background1: #021114 !default;
$arwes-color-background2: lighten($arwes-color-background1, 1.5%) !default;
$arwes-color-background3: lighten($arwes-color-background1, 3%) !default;
$arwes-color-background4: lighten($arwes-color-background1, 4.5%) !default;

// TODO: Controls (forms...)?


/**
 * Typography
 */

// Normalize
$html-line-height: 1.5 !default;
$html-font-size: 16px !default;
$text-font-size: 1.3125rem !default;

$arwes-headers-sizes: (
  h1: 2rem,
  h2: 1.75rem,
  h3: 1.5rem,
  h4: 1.3125rem,
  h5: 1.125rem,
  h6: 1rem,
) !default;

$arwes-head-font-family: 'Electrolize', sans-serif !default;
$arwes-body-font-family: 'Titillium Web', sans-serif !default;
$arwes-code-font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !default;


/**
 * Dimentions
 */

// Materialize: Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

// Materialize: Grid
$num-cols: 12 !default;
$gutter-width: $arwes-padding !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;
