/**
 * General
 */

$color-accent: 15% !default;
$anim-time: 200ms !default;
$color-alpha: 0.75 !default;


/**
 * Colors
 */

// primary
$color1: #26dafd !default;
$color1-light: lighten($color1, $color-accent) !default;
$color1-dark: darken($color1, $color-accent) !default;

// secondary
$color2: #acf9fb !default;
$color2-light: lighten($color2, $color-accent) !default;
$color2-dark: darken($color2, $color-accent) !default;

// tertiary
$color3: #fff !default;
$color3-light: lighten($color3, $color-accent) !default;
$color3-dark: darken($color3, $color-accent) !default;

// alert
$color-alert: #ff1a1d !default;
$color-alert-light: lighten($color-alert, $color-accent) !default;
$color-alert-dark: darken($color-alert, $color-accent) !default;

// success
$color-success: #0f0 !default;
$color-success-light: lighten($color-success, $color-accent) !default;
$color-success-dark: darken($color-success, $color-accent) !default;

// disabled
$color-disabled: #999 !default;
$color-disabled-light: lighten($color-disabled, $color-accent) !default;
$color-disabled-dark: darken($color-disabled, $color-accent) !default;

// backgrounds
$color-background1: #021114 !default;
$color-background2: lighten($color-background1, 1.5%) !default;
$color-background3: lighten($color-background1, 3%) !default;
$color-background4: lighten($color-background1, 4.5%) !default;

// TODO: Controls (forms...)?


/**
 * Typography
 */

$html-line-height: 1.5 !default;
$html-font-size: 16px !default;
$text-font-size: 1.3125rem !default;

$headers-sizes: (
  h1: 2rem,
  h2: 1.75rem,
  h3: 1.5rem,
  h4: 1.3125rem,
  h5: 1.125rem,
  h6: 1rem,
) !default;

$head-font-family: 'Electrolize', sans-serif !default;
$body-font-family: 'Titillium Web', sans-serif !default;
$code-font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !default;


/**
 * Box
 */

$global-margin: 20px !default;
$global-padding: 20px !default;
