//
// General
//

$pr-font-size: 1.05rem !default;
$pr-line-height: 1.6 !default;
$pr-radius: 0 !default;
$pr-border: 1px !default;
$pr-animation-time: 400 !default;
$pr-color-variation: 15% !default;

$pr-headers-sizes: (
  h1: 2.2rem,
  h2: 1.75rem,
  h3: 1.5rem,
  h4: 1.25rem,
  h5: 1.1rem,
  h6: 1rem
) !default;

//
// Fonts
//

// Default
$pr-font1: Rambla, sans-serif !default;

// Header
$pr-font2: Lato, sans-serif !default;

// Code
$pr-font3: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !default;

//
// Main colors
//

// Default
$pr-color1: #26dafd !default;
$pr-color1-active: smart-scale($pr-color1, $pr-color-variation) !default;

// Header
$pr-color2: #85cb33 !default;
$pr-color2-active: smart-scale($pr-color2, $pr-color-variation) !default;

// Link
$pr-color3: #c4f6ff !default;
$pr-color3-active: #E3E7AF !default;

// Control
$pr-color4: #00ffff !default;
$pr-color4-active: #00ffff !default;

// Delimitator
$pr-color5: #06c3c3 !default;  // #0a83ea
$pr-color5-active: smart-scale($pr-color5, $pr-color-variation) !default;

// Delimitator secondary
$pr-color6: #5e5e5e !default;
$pr-color6-active: smart-scale($pr-color6, $pr-color-variation) !default;

//
// Status colors
//

// Information
$pr-color-info: #B3EFB2 !default;  // #B3EFB2
$pr-color-info-active: smart-scale($pr-color-info, $pr-color-variation) !default;

// Success
$pr-color-success: #85cb33 !default;  // #b5e853
$pr-color-success-active: smart-scale($pr-color-success) !default;

// Warning
$pr-color-warning: #FFBA21 !default;  // #FFBA21
$pr-color-warning-active: smart-scale($pr-color-warning) !default;

// Error
$pr-color-error: #FF3621 !default;  // #FF3621
$pr-color-error-active: smart-scale($pr-color-error) !default;

// Disabled
$pr-color-disabled: #777777 !default;  // #b5e853
$pr-color-disabled-active: smart-scale($pr-color-disabled) !default;

//
// Background colors
//

// Default
$pr-background1: #021114 !default;
$pr-background1-active: #021114 !default;

// Control
$pr-background2: #000 !default;
$pr-background2-active: #000 !default;

// Box
$pr-background3: #061b1a !default;
$pr-background3-active: #061b1a !default;

// Code
$pr-background4: #242038 !default;
$pr-background4-active: #242038 !default;

// Loading
$pr-background5: #161616 !default;
$pr-background5-active: #161616 !default;

// Modal
$pr-background6: #161616 !default;
$pr-background6-active: #161616 !default;
