@mixin arwes-general () {

  @include arwes-scrollbar-design($arwes-color-background1, $arwes-color1);
  @include arwes-placeholder-color($arwes-color1);
  @include arwes-selection-color($arwes-color1, $arwes-color-background1);

  html {
    box-sizing: border-box;
    line-height: $html-line-height;
    font-size: $html-font-size;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    background-color: $arwes-color-background1;
    font-family: $arwes-body-font-family;
    color: $arwes-color1;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $arwes-margin;
    font-family: $arwes-head-font-family;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba($arwes-color2, $arwes-color-alpha);
    color: $arwes-color2;
    transition: all $arwes-anim-time ease-out;
  }

  @each $arwes-header, $arwes-size in $arwes-headers-sizes {
    #{$arwes-header} {
      font-size: $arwes-size;
    }
    * #{$arwes-header}:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin: 0 0 $arwes-margin;
    font-size: $text-font-size;
  }
  * p:last-child {
    margin-bottom: 0;
  }

  small {
    //
  }

  sub, sub {
    //
  }

  ul, ol {
    //
  }
  li {
    //
  }

  // TODO: Highlight.
  a {
    color: $arwes-color1;
    text-shadow: 0 0 4px rgba($arwes-color1-light, $arwes-color-alpha);
    transition: all $arwes-anim-time ease-out;
    text-decoration: none;

    &:hover {
      color: $arwes-color1-light;
    }
  }

  hr {
    position: relative;
    display: block;
    margin: 0 0 $arwes-margin;
    border-style: solid;
    border-color: $arwes-color1-dark;
    border-width: 0 0 1px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      display: block;
      width: 3px;
      height: 3px;
      background: $arwes-color1-dark;
    }
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      right: 0;
      display: block;
      width: 3px;
      height: 3px;
      background: $arwes-color1-dark;
    }
  }
}
