@mixin arwes-general () {

  @include arwes-scrollbar-design($arwes-color-background0, $arwes-color0);
  @include arwes-placeholder-color($arwes-color0);
  @include arwes-selection-color($arwes-color0, $arwes-color-background0);

  html {
    box-sizing: border-box;
    line-height: $html-line-height;
    font-size: $html-font-size;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    background-color: $arwes-color-background0;
    font-family: $arwes-body-font-family;
    color: $arwes-color0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $arwes-margin;
    font-family: $arwes-head-font-family;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba($arwes-color0-light, $arwes-color-alpha);
    color: $arwes-color0-light;
    transition: all $arwes-anim-time ease-out;
  }

  @each $arwes-header, $arwes-size in $arwes-headers-sizes {
    #{$arwes-header} {
      font-size: $arwes-size;
    }
  }

  p {
    margin: 0 0 $arwes-margin;
  }
  * p:last-child {
    margin-bottom: 0;
  }

  small {
    font-size: 80%;
  }

  cite {
    font-style: italic;
  }

  blockquote {
    display: block;
    border-left: 4px solid $arwes-color0-light;
    margin: 0 0 $arwes-margin $arwes-margin;
    padding: 0 0 0 #{$arwes-padding / 2};
    color: $arwes-color0-light;

    &[data-theme='alert'] {
      border-color: $arwes-color-alert-light;
      color: $arwes-color-alert-light;
    }
    &[data-theme='success'] {
      border-color: $arwes-color-success-light;
      color: $arwes-color-success-light;
    }
    &[data-theme='disabled'] {
      border-color: $arwes-color-disabled-light;
      color: $arwes-color-disabled-light;
    }
  }

  dl, ul, ol {
    display: block;
    margin: 0 0 $arwes-margin $arwes-margin;
    padding: 0;

    & dl,
    & ul,
    & ol {
      margin-bottom: 0;
    }
  }

  dl {
    dt {
      font-style: italic;
      font-weight: bold;
    }
    dd {
      margin-left: $text-font-size;
    }
  }

  ul {
    margin-left: #{$arwes-margin + ($arwes-padding / 2)};

    li {
      display: block;
      list-style: none;
      padding-left: #{$arwes-padding};
    }
    li:before {
      position: relative;
      left: #{- $arwes-padding / 2};
      margin-left: #{-$arwes-padding};
      content: ">>";
      color: $arwes-color0-light;
    }
  }

  ol {
    margin-left: $arwes-padding;
    padding-left: $text-font-size;

    ol {
      margin-left: 0;
    }
  }

  a {
    color: $arwes-color1;
    text-shadow: 0 0 4px rgba($arwes-color1, $arwes-color-alpha);
    transition: all $arwes-anim-time ease-out;
    text-decoration: none;

    &:hover {
      color: $arwes-color1-light;
    }
  }

  hr {
    position: relative;
    display: block;
    margin: 0 0 $arwes-margin;
    border-style: solid;
    border-color: $arwes-color0-dark;
    border-width: 0 0 1px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      display: block;
      width: 3px;
      height: 3px;
      background: $arwes-color0-dark;
    }
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      right: 0;
      display: block;
      width: 3px;
      height: 3px;
      background: $arwes-color0-dark;
    }
  }

  @media #{$medium-and-up} {

    @each $arwes-header, $arwes-size in $arwes-headers-sizes-medium {
      #{$arwes-header} {
        font-size: $arwes-size;
      }
    }

    p, dl, ul, ol, blockquote, figcaption {
      font-size: $arwes-text-font-size-medium;
    }
  }
}
